body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.image-header {
    height: 30px;
    width: auto;
}

.content, .sugestion {
    display: flex;
}

#search {
    width: 400px;
    height: 30px;
    border: 1px solid black;
}

.left-header, .middle-header, .right-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.video {
    margin: 20px;
}

.statistics {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mini {
    width: 200px;
    height: auto;
    margin-right: 8px;
}

.sugestion {
    font-size: 14px;
    margin-bottom: 10px;
}

.title {
    font-weight: bold;
}

.author {
    margin-top: 8px;
    margin-bottom: 4px;
}

.button {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 20px;
}