.header {
    display: flex;
    justify-content: space-between;
}

.image-header {
    height: 30px;
    width: auto;
}

.content {
    display: flex;
}

#search {
    width: 400px;
    height: 30px;
    border: 1px solid black;
}